<div class="container">
<%= image_tag src="onestop_logo.png" %>
<h1>OneStopOnline</h1>
<p>Your one stop shop for all your needs!</p>
</div>

<div class="product">
<h2>Sale Item!</h2>
<div class="image">
<%=image_tag src="Wade.jpeg" %>
</div>